[submodule "QBFlatButton"]
	path = QBFlatButton
	url = https://github.com/questbeat/QBFlatButton.git
[submodule "APExtendedScrollView"]
	path = APExtendedScrollView
	url = https://github.com/niktszczegolny/APExtendedScrollView.git
[submodule "AKTabBarController"]
	path = AKTabBarController
	url = https://github.com/alikaragoz/AKTabBarController.git
[submodule "Locations-with-Map"]
	path = Locations-with-Map
	url = https://github.com/pradyumnad/Locations-with-Map.git
[submodule "ios-fontawesome"]
	path = ios-fontawesome
	url = https://github.com/alexdrone/ios-fontawesome.git
[submodule "MLPSpotlight"]
	path = MLPSpotlight
	url = https://github.com/EddyBorja/MLPSpotlight.git
[submodule "SDSegmentedControl"]
	path = SDSegmentedControl
	url = https://github.com/rs/SDSegmentedControl
[submodule "BButton"]
	path = BButton
	url = https://github.com/mattlawer/BButton.git
[submodule "BWStatusBarOverlay"]
	path = BWStatusBarOverlay
	url = https://github.com/brunow/BWStatusBarOverlay.git
